<?xml version="1.0"?>

<model>
  <name>Octa Maze</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>FALCON</name>
    <email>https://github.com/HKUST-Aerial-Robotics/FALCON</email>
  </author>

  <description>
  Transparent lid + Octa Maze from https://github.com/HKUST-Aerial-Robotics/FALCON
  </description>
</model>
